div(class='col-md-2')
    h1 SPENCER SPIEGEL
    ul(class='mainList')
        li Business
        li Technology
        li Teamwork
div(class='col-md-3')
    div(class='whiteRing')
        div(class='whiteRing2')
            div(class='whiteRing3')
            div(class='whiteRing4')
